section{
    background-image: url("/img/background2_left.png");
    background-position: center;
    background-size: cover;
    background-color: #3DCFB6;
    display:flex;
    justify-content: space-between;
}