section {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 144px 112px;

    .foto-container {
        position: relative;
        width: 40%;
        height: 90%;
    }

    .background-portrait {
        width: 100%;
        height: 100%;
    }

    .portrait {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 30px;
        left: 30px;
    }

    .about-me {
        width: 40%;
        h4 {
            font-family: 'Karla';
            font-weight: 500;
            font-size: 24px;
            color: #3DCFB6;
            margin-bottom: 20px;
        }

        .about-me-content {
            border: 1px solid #3DCFB6;
            border-radius: 30px;
            padding: 32px;
            background-color: rgba(61, 207, 182, 0.1);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);

            p {
                font-family: 'Karla';
                font-weight: 400;
                font-size: 18px;
                color: #FFFFFF;
            }
        }
        .text-container{
            margin-bottom: 16px;
        }

        .about-me-points {
            display: flex;
            gap: 24px;
            padding-top: 16px;
            
            img {
                
                height: 32px;
            }
        }
    }
}