nav{
    position:absolute;
    top: 0;
    left:0;
    right:0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 36px 96px;
    .left-nav{
        display:flex;
        align-items: center;
        gap: 24px;
        white-space: nowrap;
        a{
        font-family:'Fira Code';
        font-weight:300;
        font-size: 20px;
        }
    }
    .right-nav{
        img{
           height: 60px;
           display: block;
        }
    }
}



.lang-toggle {
  position: relative;
  width: 90px;
  height: 36px;
  border-radius: 999px;
  background: #0f2a26;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.option {
  flex: 1;
  text-align: center;
  z-index: 2;
  font-size: 14px;
  color: #5fa39a;
}

.lang-toggle[data-lang="en"] .en,
.lang-toggle[data-lang="de"] .de {
  color: #0f2a26;
  font-weight: 600;
}

.slider {
  position: absolute;
  width: 45px;
  height: 28px;
  background: #6ff2d2;
  border-radius: 999px;
  left: 4px;
  transition: transform 0.25s ease;
}

.lang-toggle[data-lang="de"] .slider {
  transform: translateX(42px);
}
