nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 36px 96px;

  .left-nav {
    display: flex;
    align-items: center;
    gap: 24px;
    white-space: nowrap;

    a {
      font-family: 'Fira Code';
      font-weight: 300;
      font-size: 20px;
    }
  }

  .right-nav {
    img {
      height: 60px;
      display: block;
    }
  }
}



.lang-toggle {
  position: relative;
  width: 90px;
  height: 36px;
  border-radius: 999px;
  background: #0f2a26;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.option {
  flex: 1;
  text-align: center;
  z-index: 2;
  font-size: 14px;
  color: #5fa39a;
}

.en {
  padding-left: 3px;
}

.lang-toggle[data-lang="en"] .en,
.lang-toggle[data-lang="de"] .de {
  color: #0f2a26;
  font-weight: 600;
}

.slider {
  position: absolute;
  width: 45px;
  height: 28px;
  background: #6ff2d2;
  border-radius: 999px;
  left: 4px;
  transition: transform 0.25s ease;
}

.lang-toggle[data-lang="de"] .slider {
  transform: translateX(42px);
}

.mobile-nav {
  .left-content {
    .logo-klein {
      width: 69px;
      opacity: 0;
    }

    img {
      width: 300px;
    }
  }

  .burger-btn {
    position: relative;
    background-color: transparent;
    border-style: none;
    width: 34px;
    height: 34px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .menu-green {
      opacity: 0;
    }

    &:hover {
      .menu-white {
        opacity: 0;
      }

      .menu-green {
        opacity: 1;
      }
    }
  }

  .burger-menu {
    position: absolute;
    top: 50px;
    right: -300px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    padding: 40px 77px;
    background-color: #0f2a26;
    transition: right 0.3s ease;
    z-index: 999;
  }

  .burger-menu.show {
    right: 30px;
    display:flex;
  }
}


@media(max-width: 1050px) {
  .hide-desktop {
    display: none;
  }
}

@media(min-width:1051px) {
  .hide-mobile {
    display: none;
  }
}

@media(max-width: 700px) {
  .mobile-nav {
    .left-content {
      .logo-klein {
        opacity: 1;
      }

      .logo-groß {
        display: none;
      }
    }
  }
}

@media(max-width: 570px) {
  .mobile-nav {
    padding: 32px 16px;
    .burger-menu{
    top: 100px;
  }
  .burger-menu.show{
    right:16px;
  }
  }
}