section {
    background-color: #1c1d1c;
    display: flex;
    justify-content: space-between;
    padding: 144px 112px;
    align-items: center;
    gap:40px;

    .foto-container {
        position: relative;
        max-width: 800px;

        &:hover .portrait {
            bottom: 30px;
            left: 30px;
        }
    }

    .background-portrait {
        width: 100%;
        height: 100%;
    }

    .portrait {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.3s ease, left 0.3s ease;
        border-radius: 11px;
    }

    .about-me {
        .about-me-content {
            border: 1px solid #3DCFB6;
            border-radius: 30px;
            padding: 32px;
            background-color: rgba(61, 207, 182, 0.1);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            max-width: 700px;
            p {
                font-family: 'Karla';
                font-weight: 400;
                font-size: 18px;
                color: #FFFFFF;
            }
        }
        .text-container{
            margin-bottom: 16px;
        }

        .about-me-points {
            display: flex;
            gap: 24px;
            padding-top: 16px;
            
            img {
                
                height: 32px;
            }
        }
    }
}

@media(max-width: 1270px){
    section{
        padding: 72px 56px;
    }
}
@media(max-width: 1100px){
    section{
        flex-direction: column;
    }
}
@media(max-width:670px) {
    section{padding: 16px;
        .foto-container {
        &:hover .portrait {
            bottom: 0;
            left: 0;
        }
    }
    }    
}
@media(max-width: 580px){
    .about-me-points{
        flex-direction: column;
        gap:8px !important;
        img{
            width: 32px;
        }
    }
}