app-privacy-policy {
    .privacy-policy-container{
        background-color: #1c1c1c;
        width: 100%;
        min-height: 100vh;
        padding: 150px 90px;
        box-sizing: border-box;
        .index-link{
            text-decoration: none;
        }

        h1 {
            font-family: 'Fira Code';
            font-weight: 700;
            font-size: 64px;
            color: #3DCFB6;
            margin-bottom: 40px;
        }

        h2 {
            font-family: 'Fira Code';
            font-weight: 500;
            font-size: 32px;
            color: #3DCFB6;
            margin-top: 32px;
            margin-bottom: 16px;
        }

        h3 {
            font-family: 'Fira Code';
            font-weight: 500;
            font-size: 24px;
            color: #3DCFB6;
            margin-top: 24px;
            margin-bottom: 12px;
        }

        p {
            font-family: 'Karla';
            font-size: 16px;
            color: white;
            margin-bottom: 8px;
        }

        ul {
            margin-left: 20px;
            margin-bottom: 16px;
            
            li {
                font-family: 'Karla';
                font-size: 16px;
                color: white;
                margin-bottom: 8px;
            }
        }

        a {
            color: #3DCFB6;
            text-decoration: none;
            &:hover{
                cursor: unset;
            }
        }

        .index-link {
            color: #3DCFB6;
        }
    }
}
@media(max-width: 1270px) {
    .privacy-policy-container {
        padding: 72px 56px;
        p{
            text-align:left;
        }
        a{
            overflow-wrap: break-word;
        }
    }
}

@media(max-width: 1100px) {
    section {
        flex-direction: column;
    }
}
@media(max-width: 570px){
    .privacy-policy-container{
        padding: 160px 16px!important;
    }
}