section {
    background-color: #1c1c1c;
    padding: 144px 96px;

    h3 {
        margin-bottom: 41px;
    }

    .text-div {
        margin-bottom: 41px;
        display: block;
    }

    .project-container {
        display: flex;
        justify-content: space-between;
        padding: 40px 32px;
        max-width: 880px;
        border-top: 1px solid #3DCFB6;
        border-bottom: 1px solid #3DCFB6;
    }

    .project-name {
        font-family: 'Fira Code';
        font-weight: 700;
        font-size: 24px;
    }
    span{
        font-family: 'Karla';
        font-weight: 300;
        font-size: 18px;
    }
}

.color-green {
    color: #3DCFB6;
}