.wrapper{
    background-color: #1c1c1c;
}
section {
    background-color: #1c1c1c;
    padding: 144px 96px;
    box-sizing: border-box;

    h3 {
        margin-bottom: 41px;
    }

    .text-div {
        margin-bottom: 41px;
        display: block;
    }

    .project-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 32px;
        max-width: 70%;
        border-top: 1px solid #3DCFB6;
        border-bottom: 1px solid #3DCFB6;
        transition: background-color 0.3s ease;
        position: relative;

        .screenshot-project{
            width: 292px;
            height: 192px;
            position: absolute;
            right: -35%;
            z-index: 2;
            opacity: 0;
            pointer-events: none;
        }
        .screenshot-bg{
            width: 292px;
            height: 192px;
            position: absolute;
            right: -36%;
            z-index: 1;
            opacity: 0;
            pointer-events: none;
        }
    }

    .project-name {
        font-family: 'Fira Code';
        font-weight: 700;
        font-size: 24px;
        img{
            padding: 2px 5px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }
    span{
        font-family: 'Karla';
        font-weight: 300;
        font-size: 18px;
    }
    .project-container{
        &:hover{
            cursor: pointer;
            background-color: #3DCFB6;
            .arrow-out{
                opacity: 1;
            }
            .screenshot-project{
                opacity: 1;
            }
            .screenshot-bg{
                opacity: 1;
            }
        }
    }
}

.color-green {
    color: #3DCFB6;
}

@media(max-width: 1300px){
    .left-content{
        .project-container{
            .screenshot-project{
                width:194px;
                height:128px;
            }
            .screenshot-bg{
                width:194px;
                height:128px;
            }
        }
    }
}

@media(max-width: 1270px) {
    section {
        padding: 72px 56px;
    }
}

@media(max-width: 950px){
    .left-content{
        .project-container{
            max-width:unset;
            .screenshot-project{
                display:none;
            }
            .screenshot-bg{
                display:none;
            }
        }
    }
}

@media(max-width:670px) {
    section {
        padding: 16px;
    }
}

@media(max-width: 620px){
    .left-content{
        .project-container{
            flex-direction: column;
            align-items: flex-start;
            padding: 40px 0;
        }
    }
}