.custom-dialog {
    section {
        background-image: url('/img/firstBackground.png');
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        padding: 55px 80px;
        gap: 88px;
        .next-project-mobile{
                display: none;
                align-items: center;
                gap: 8px;
                white-space: nowrap;

                img {
                    display: inline-block;
                    vertical-align: middle;
                }
        }

        .left-content {
            width: 50%;

            h1 {
                color: #3DCFB6;
            }

            h3 {
                color: #FFFFFF;
                margin-bottom: 40px;
            }

            .question {
                color: #3DCFB6;
                font-family: 'Fira Code';
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .technologies {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                margin-top: 32px;
                margin-bottom: 40px;

                div {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }

            .link-container {
                display: flex;
                gap: 20px;

                div {
                    padding: 13px 24px;
                    border: 1px solid #FFFFFF;
                    border-radius: 100px;
                }
            }
        }

        .right-content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            width: 50%;

            button {
                display: inline-flex;
                align-items: center;
                gap: 8px;
                white-space: nowrap;

                img {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .project-screen {
                height: auto;
                border-radius: 30px;
                width: 100%;
            }
        }
    }
}

@media(max-width:1250px) {
    section {
        padding: 32px !important;

        .left-content {
            .technologies {
                div {
                    img {
                        width: 40px;
                    }

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media(max-width: 800px) {
    section {
        flex-direction: column-reverse;
        //gap: 16px !important;
        align-items: center;
        position: relative;
        .next-project-mobile{
            display:inline-flex !important;
            margin-bottom: 10px;
        }

        .right-content {
            width: 100%!important;

            .next-project {
                display:none !important;
            }
        }

        .left-content {
            width: unset !important;
        }
    }
}

@media(max-width: 625px) {
    section {
        height:80vh;
        justify-content: flex-end !important;
        .left-content {
            .link-container{
                justify-content: center;
            }
            h3 {
                margin-bottom: 20px !important;
            }
            
        }
    }
}

@media(max-width:575px){
    section{
        gap: 12px !important;
        padding: 16px !important;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
        .left-content{
            padding-bottom: 100px;
        }
    }
}

@media(max-width: 400px) {
    .link-container{
        div{
            padding: 6px 12px !important;
            a{
                img{
                    display: none;
                }
            }
        }
    }
}