section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
        background-image: url('/img/firstBackground.png');
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0 5vw;    
    overflow: hidden;
}

.left-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 50px;

    a {
        background: transparent;
        border-style: none;
        border: 1px solid #3DCFB6;
        border-radius: 32px;
        width: 40px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 25px;
            animation: arrow-bounce 1s ease-in-out infinite;
        }
    }

    div {
        background-color: #3DCFB6;
        width: 1px;
        height: 30vh;
    }
}

.right-content {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50px;
    gap: 24px; 
    .div-email{
        transform: translateY(-700%) rotate(-90deg);
        letter-spacing: 2px;
        &:hover{
            color:#3DCFB6;
            transform: translateY(-700%) rotate(-90deg) scale(1.2);
        }
    }
    .separator {
        background-color: #ffffff;
        width: 1px;
        height: 240px;
    }
    .image-wrapper{
        position: relative;
        img{
            display:block;
        }
        .hover-img{
            display:flex;
            align-items: center;
            gap: 10px;
            position:absolute;
            inset:0;
            opacity:0;
            transition: opacity 0.3s ease;
        }
        &:hover .hover-img{
            opacity:1;
        }
    }
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        margin-bottom: 12px;
        white-space: nowrap;
    }

    h1 {
        white-space: nowrap;
    }

    div {
        margin-top: 40px;
        display: flex;
        gap: 32px;
    }
}

.marquee-btn {
    border-style: none;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 13px 24px;
    overflow: hidden;
    position: relative;

    .marquee-text {
        display: inline-block;
        white-space: nowrap;
        transform: translateX(0);
    }

    &:hover {
        border-color: #3DCFB6;

        .marquee-text {
            animation: marquee 2.5s linear infinite;
            color: #3DCFB6;
        }

    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-130%);
    }

    40% {
        transform: translateX(-130%) translateY(-200%);
    }

    60% {
        transform: translateX(130%) translateY(-200%);
    }

    80% {
        transform: translateX(130%) translateY(0);
    }

    100% {
        transform: translateX(0);
    }
}

.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: -10px;
    right: -10px;
    transform-origin: bottom left;
    rotate: -3deg;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    backdrop-filter: blur(5px);
    justify-content: space-around;
    height: 50px;
    z-index: 2;
}

.marquee-banner {
    animation: marquee-banner 13s linear infinite;
    font-size: 32px;
    color: #3DCFB6;
    align-items: center;
    margin-top: 0px !important;

    span {
        font-size: 32px;
        color: #3DCFB6;
    }
}

@keyframes marquee-banner {

    0% {
        transform: translateX(3%)
    }

    100% {
        transform: translatex(-100%)
    }

}

@keyframes arrow-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(8px);
    }
}

@media(min-width:1201px){
    .hide-desktop{
        display:none;
    }
}

@media(max-width: 1200px){
    .hide-mobile{
        display:none;
    }
     .marquee{
        bottom: 30px;
    }
}

@media(max-width: 670px){
    section{
        padding: 8px;
    }

    .marquee-banner{
        span{
            font-size: 24px;
        }
    }

    .links {
        
            flex-direction: column;
            gap: 32px; 
    }

    .marquee-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .marquee-text {
            transform: translateX(0) !important;
        }

        &:hover {
            border-color: #3DCFB6;
            color: #3DCFB6;

            .marquee-text {
                animation: none;
                color: #3DCFB6;
            }
        }
    }
}

@media(max-width: 450px){
    .marquee-btn{
        padding: 6px 16px;
    }
    .left-content{
        a{
            width: 20px;
            height: 40px;
            img{
                height:15px;
            }
        }
    }
}

@media(max-width: 360px){
    .marquee-text{
        font-size: 16px;
    }
}
