section {
    height: 100vh;
    width: 100vw;
    background-image: url('/img/firstBackground.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        margin-bottom: 12px;
    }

    div {
        margin-top: 40px;
        display: flex;
        gap: 48px;
    }
}

.marquee-btn {
    border-style: none;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 13px 24px;
    overflow: hidden;
    position: relative;

    .marquee-text {
        display: inline-block;
        white-space: nowrap;
        transform: translateX(0);
    }

    &:hover {
        border-color: #3DCFB6;

        .marquee-text {
            animation: marquee 2s linear infinite;
            color: #3DCFB6;
        }

    }
}

@keyframes marquee {
    0% {
        transform: translateX(170%);
    }

    100% {
        transform: translateX(-170%);
    }
}