.ln-wrapper {
    min-height: 100vh !important;
    background-image: url("/img/background2_right.png");
    background-position: center;
    background-size: cover;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .legal-container {
        width: 100%;
        padding: 150px 90px;
        box-sizing: border-box;

        h1 {
            font-family: 'Fira Code';
            font-weight: 700;
            font-size: 64px;
            color: #3DCFB6;
            margin-bottom: 40px;
        }

        h2 {
            font-family: 'Fira Code';
            font-weight: 500;
            font-size: 32px;
            color: #3DCFB6;
            margin-top: 32px;
            margin-bottom: 16px;
        }

        p {
            font-family: 'Karla';
            font-size: 16px;
            color: white;
            margin-bottom: 8px;
        }

        a {
            color: #3DCFB6;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media(max-width: 1270px) {
    .legal-container {
        padding: 72px 56px;

        p {
            text-align: left;
        }

        a {
            overflow-wrap: break-word;
        }
    }
}

@media(max-width: 1100px) {
    section {
        flex-direction: column;
    }
}

@media(max-width: 570px) {
    .legal-container {
        padding: 160px 16px !important;
    }
}