section{
    background-color: #1c1c1c;
}
.span-mobile {
    color: #3DCFB6;
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 18px;
    display: none;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 96px;

    .span-desktop {
        color: #3DCFB6;
        font-family: 'Fira Code';
        font-weight: 400;
        font-size: 18px;
    }
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
        font-family: 'Karla';
        font-weight: 400;
        font-size: 16px;
        color: white;
    }

    img {
        width: 200px;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;

    div {
        &:hover {
            a {
                color: #3DCFB6;
            }

            .hover-point {
                opacity: 1;
            }
        }
    }

    a {
        font-family: 'Karla';
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }
}

.hover-point {
    opacity: 0;
    padding-right: 4px;
}

@media(max-width: 1270px) {
    .section {
        padding: 72px 56px;
    }
}

@media(max-width: 820px) {
    section {
        display: flex;
            flex-direction: column;
            align-items: center;
        .section {
            width:100%;
            box-sizing: border-box;

            .span-desktop {
                display: none;
            }
        }

        .span-mobile {
            display: block;
            margin:16px 0;
        }
    }
}

@media(max-width: 670px) {
    .section {
        padding: 32px 16px;
        gap: 16px;
    }
}
@media(max-width: 430px){
    .left-content{
        img{
            width: 150px;
        }
    }
}
@media(max-width: 350px){
    .left-content{
        img{
            width: 130px;
        }
    }
    .footer-links{
        white-space: nowrap;
    }
}