section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 96px;
    background-color: #1c1c1c;
    span{
        color:#3DCFB6;
        font-family: 'Fira Code';
        font-weight: 400;
        font-size: 18px;
    }
}

.left-content{
    display:flex;
    flex-direction: column;
    gap: 8px;
    img{
        width:300px;
    }
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 8px;
}